body {
  background-color: #2b2b2b;
  padding-top: 20px;
  height: 100%;
  overflow: hidden;
}

.rahmen {
  margin: auto;
  height: 800px;
  width: 1200px;
  background-image: url("pictures/wrapper_bg.jpg");
  background-color: black;
}

.infotop {
  position: relative;
  bottom:-60px;
  left: 20px;
  width: 1160px;
  height: 100px;
  background-color: yellow;
}

.wheelwrapper {
  position: relative;
  top: 30px;
  left: 150px;
  width: 900px;
  height: 620px;
  background-image: url("pictures/wheelrahmen.png")
}


.allWheels {
  position: relative;
  font-size: 90pt;
  color: yellow;;
  height: 180px;
  width: 270px
}

.wheel_row1_1 {
  top: 20px;
  left: 20px;
}

.wheel_row1_2 {
  top: -160px;
  left: 310px;
}

.wheel_row1_3 {
  top: -340px;
  left: 600px;
}


.wheel_row2_1 {
  top: -320px;
  left: 20px;
}

.wheel_row2_2 {
  top: -500px;
  left: 310px;
}

.wheel_row2_3 {
  top: -680px;
  left: 600px;
}


.wheel_row3_1 {
  top: -660px;
  left: 20px;
}

.wheel_row3_2 {
  top: -840px;
  left: 310px;
}

.wheel_row3_3 {
  top: -1020px;
  left: 600px;
}
